.secondary-ph__header {
  margin: 120px 0 50px 0;

  @include breakpointLargerThan($breakpoint--medium) {
    margin: 50px 0 0 0;
  }
}

.secondary-ph__body {
  padding: 50px 0;
}

.secondary-ph__subtitle {
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 20px;
}

.secondary-ph__details {
  display: flex;
  margin: 10px 0 30px 0;
}

.secondary-ph__btn {
  margin-right: 16px;
}
