$color: $blue;

.overview-panel {
  $distance: 6px;
  $border: 2px solid $color;

  background: lighten($color, 45%);
  border: $border;
  position: relative;
  padding: 20px 40px;

  &:before, &:after {
    @include transition(.1s cubic-bezier(0.3, 0, 0.45, 1));
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    width: 100%;
    border-bottom: $border;
    border-left: $border;
    bottom: -$distance;
    left: $distance;
    height: $distance;
    box-sizing: border-box;
  }

  &:after {
    height: 100%;
    border-right: $border;
    border-top: $border;
    top: $distance;
    right: -$distance;
    width: $distance;
    box-sizing: border-box;
  }
}

.overview-panel__title {
  @include font-size(12px);
  text-transform: uppercase;
  color: $color;
  font-weight: 700;
  letter-spacing: 1px;
}
