.home-hero {
  position: relative;
  overflow: hidden;
  height: 70vh;
  display: flex;
  align-items: center;

  @include breakpointSmallerThan($breakpoint--medium) {
    height: 50vh;
  }
}

.home-hero__content {
  @include breakpointLargerThan($breakpoint--medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.home-hero__image {
  $size: 160px;
  height: $size;
  width: $size;

  @include breakpointSmallerThan($breakpoint--large) {
    display: none;
  }
}

.home-hero-hint {
  @include fade(0, 1, 1);
  @include centerHorizontal();
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 30px;

  @include breakpointSmallerThan($breakpoint--medium) {
    bottom: 20px;
  }
}

.home-hero-hint__icon {
  @include animation('bounce 2s infinite');
  animation-timing-function: ease;
  animation-delay: 2s;
  height: 50px;
  margin-top: 10px;
  fill: $grey;
}

.home-hero__text {
  @include animation('content-fade-1 2s 1');
  @include font-size(24px);

  line-height: 1.6;
  display: block;
  margin-bottom: 20px;
  flex-basis: 78%;

  @include breakpointSmallerThan($breakpoint--small) {
    @include font-size(18px);
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    cursor: pointer;

    &::before {
      @include transition(100ms all ease-in);
      @include rotate(-1);
      @include borderRadius(2px);

      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 18px;
      background: $yellow;
      left: 0;
      bottom: 0;
      z-index: -1;
    }

    &:hover {
      background: none;
      color: inherit;

      &::before {
        @include rotate(0);
        height: 100%;
      }
    }
  }
}

.home-hero__text--small {
  @include font-size(24px);
  font-weight: 400;
  line-height: 1.75;

  @include breakpointSmallerThan($breakpoint--medium) {
    @include font-size(18px);
    line-height: 1.8;
  }

  b, span {
    color: $black;
    font-weight: 500;
  }

  .home-hero__brand {
    color: #051e42;
  }
}

.home-hero_subtext {
  @include font-size(20px);
  margin-top: 20px;
  font-weight: 400;
  display: block;
}

.home-hero__location {
  @include animation('content-fade-1 2s 1');
  margin-top: 20px;

  @include breakpointSmallerThan($breakpoint--medium) {
    @include font-size(14px);
  }
}

.home-hero__link {
  @include animation('content-fade-1 2s 1');
  display: inline-block;

  &.decor::before {
    width: 100%;
  }
}

.work {
  margin: 20px 0;
  padding: 50px 20px;
  background: $grey--light;
  text-align: center;

  @include breakpointLargerThan($breakpoint--medium) {
    padding: 100px;
    text-align: left;
  }
}

.work__entry {
  transition: $base-animation__speed all ease-in-out;
  border: 2px solid $black;
  background: $white;
  padding: 40px;

  &:hover {
    @include boxShadow(0 0 16px rgba(0,0,0,0.18));
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    margin: 40px 0;
  }
}

.work__title {
  margin: 15px 0;
}

.work__image {
  display: block;
  margin: 0 auto;
}

.other-work__header {
  margin-bottom: 20px;
}

.other-work__nav {
  padding-right: 20px;
  display: flex;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin: 15px 0;
    padding: 0;
    list-style: none;
  }
}
