.rating__header {
  margin-bottom: 20px;
  line-height: 1.8;
}

.rating__success {
  color: $green;
  padding: 20px 0;
}

.rating-form {
  margin: 30px auto 10px auto;
  max-width: 400px;
}

.rating-form__button {
  width: 100%;
}

.rating-form__comment {
  min-height: 100px;
  line-height: 1.5;
}

.rating__icon-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 200px;
  margin: 0 auto;
}

.rating__icon {
  @include transition(all $base-animation__speed ease-in);
  cursor: pointer;
  border-radius: 99px;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  outline: none;

  &:after {
    @include transition(opacity $base-animation__speed ease-in);
    @include centerVertical();
    transition-delay: $base-animation__speed * 2;
    position: absolute;
    bottom: -20px;
    display: block;
    content: "";
    opacity: 0;
    width: 250px;
    text-align: center;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    &.rating__icon--like {
      background: lighten($green, 45%);
      color: $green;

      > svg {
        fill: $green;
      }

      &:after { content: "I liked this"; }
    }

    &.rating__icon--dislike {
      background: lighten($red, 45%);
      color: $red;

      > svg {
        fill: $red;
      }

      &:after { content: "I disliked this"; }
    }
  }
}

.rating__icon--dislike.active {
  svg {
    fill: $red;
  }
}
