// LIGHT MODE:
$aqua: #39EEF3;
$white: #ffffff;
$white--off: #f7f7f7;
$green: #7ED321;
$green--soft: #b2e189;
$black: #000000;
$grey: #CDCDD7;
$grey--light: #E2E8F9;
$grey--medium: #D8D7EA;
$grey--dark: #595959;
$blue: #6484FF;
$blue--soft: #7495FF;
$red: #E72373;
$aqua: #0CF0F3;
$highlighter-yellow: #E9FC58;
$gold: #E7C63A;
$yellow: #FCDA00;
$pink: #FD267D;
$pink--soft: #EE63AA;
$orange: #FF7854;
$purple: #9747FF;
$purple--soft: #D1ADFF;
$brown: #613813;

// GRADIENTS
$gradient-water--1: linear-gradient(to right, #EDD575, #39EEF3);
$gradient-water--2: linear-gradient(to right, #2CD5C4, #C5E86C);

// BRANDING
$doordash-red: #ff0000;
$wm-blue: #0470DC;
$publix-primary: #2d810e;
$publix-secondary: #004b2a;
$publix-tertiary: #f1f7cc;
