input, textarea, select, button {
  border: none;
}

input, textarea, select {
  @include borderRadius(10px);
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px;
  border: 1px solid $black;
}

.Dropdown-control {
  // override
  @include borderRadius(10px);
  border: none;
  background: $grey--light;
  padding: 15px 20px;
}

.Dropdown-arrow {
  @include transition(100ms all ease-in);
  @include centerHorizontal();
  right: 20px;
  border-color: $black transparent transparent;
}

.Dropdown-menu {
  @include boxShadow(0 5px 6px rgba(0, 0, 0, 0.14));

  border: none;
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
  border-right: 1px solid $black;
}

.Dropdown-option {
  padding: 15px;

  &:hover {
    background-color: lighten($pink, 41%);
    color: $pink;
  }
}

.Dropdown-root {
  $borderRadius: 10px;

  &.is-open {
    .Dropdown-control {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      color: $white;
      border: 1px solid $black;
      background: $purple;
    }

    .Dropdown-arrow {
      border-color: transparent transparent $white;
    }

    .Dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }
  }
}
