body {
  @include font-size($base-font__size);
  // create react app adds a reset.. override for now
  font-family: $base-font__family--primary !important;
  margin: 0;
}

body.light {
  background-color: $white;
  background-repeat: repeat;
  color: $black;
}

.App {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

iframe {
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.styles_handle__33IZp {
  //Before/After Slider Overrides
  background: $doordash-red !important;
  width: 4px;

  &:after {
    $size: 40px;
    @include centerAll();
    @include borderRadius(50%);
    position: absolute;
    content: "";
    display: block;
    height: $size;
    width: $size;
    background-color: $doordash-red;
    background-image: url('../../images/before-after-controls.svg');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.text--center {
  text-align: center;
}
