h1 {
  @include font-size($base-font__size * 1.8);
  font-family: $base-font__family--secondary;
  font-weight: 400;
  margin: 0;
  padding: 0;
  @include breakpointLargerThan($breakpoint--large) {
    @include font-size($base-font__size * 2.4);
  }
}

h2 {
  @include font-size($base-font__size * 1.6);
  font-family: $base-font__family--primary;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3 {
  @include font-size($base-font__size * 1.2);
  font-family: $base-font__family--primary;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h4 {
  @include font-size($base-font__size * .9);
  font-family: $base-font__family--primary;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h5 {
  @include font-size($base-font__size * .7);
  font-family: $base-font__family--primary;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

p, ul {
  @include font-size($base-font__size);
  font-family: $base-font__family--primary;
  line-height: 1.65;

  span[role="img"] {
    color: $white;
  }
}

a {
  outline: none;
  position: relative;
  color: inherit;
  text-decoration: underline;
  padding: 3px;
  cursor: pointer;

  &:focus {
    color: inherit;
  }

  &:active {
    top: auto;
  }

  &:hover {
    color: $white;
    background: $black;
  }
}


a.decor {
  $colors: ("blue": $blue, "pink": $pink, "yellow": $yellow, "aqua": $aqua, "green": $green, "purple": $purple);

  @each $value, $color in $colors {
    &.decor-#{$value} {
      &::before {
        background: $color;
      }

      &:hover {
        color: $color;
      }
    }
  }

  outline: none;
  position: relative;
  text-decoration: none;

  &::before {
    @include transition(all 250ms);

    content: "";
    position: absolute;
    height: 4px;
    width: 80%;
    right: 0;
    display: block;
    bottom: 2px;
    opacity: 0.4;
  }

  &:hover {
    &::before {
      opacity: 1;
      bottom: -2px;
    }
  }
}

b {
  font-weight: 700;
}

ol {
  @extend p;
}

.highlight {
  // background: lighten($purple, 45%);
  // padding: 5px;
}
