///////////////////////////////
/// BREAKPOINTS
///////////////////////////////

$breakpoint--small: 480px;
$breakpoint--medium: 768px;
$breakpoint--large: 992px;
$breakpoint--xlarge: 1200px;

///////////////////////////////
/// BASE
///////////////////////////////

$base-font__family--primary: 'Poppins', arial, sans-serif;
$base-font__family--secondary: 'Libre Baskerville', serif;
$base-font__size: 18px;
$base-line-height: 1.5;
$base-section__padding: 100px 0;
$base-box-shadow: 0 0 20px rgba(20,43,82,0.1);
$base-border__radius: 0px;

$color--dark-mode: $grey--medium;

///////////////////////////////
/// PATHS
///////////////////////////////
$img-path: '/images/';

///////////////////////////////
/// ANIMATIONS
///////////////////////////////

$base-animation__speed: 200ms;
