@import "Components/Core/variables.scss";
@import "Components/Core/mixins.scss";
@import "Components/Core/colors.scss";
@import "Components/Core/animations.scss";
@import "Components/Buttons/Primary/styles.scss";

.contact-form {
  @include borderRadius(8px);
  padding: 20px;
  border: 5px solid $purple;
}

.contact-form__header {
  margin-bottom: 2rem;
}

.contact-form__heading {
  text-transform: uppercase;
}

.contact-form__info {
  max-width: 400px;
  line-height: 1.2;
}

.contact-form__button {
  @extend .btn-primary;
  @include borderRadius(4px);

  &.isDisabled {
    opacity: 0.4;

    &:hover {
      @include scale(1);
      cursor: default;
    }
  }
}
