.secondary-header {
  @include font-size(16px);

  position: absolute;
  top: 0;
  width: 100%;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 200;
  background: $white;

  &.nav-down {
    @include animation(reveal $base-animation__speed linear);

    position: fixed;
    z-index: 200;
    animation-fill-mode: forwards;
  }

  &.nav-up {
    @include animation(unreveal $base-animation__speed linear);
    position: fixed;
    animation-fill-mode: forwards;
  }
}

.secondary-header__logo {
  width: 34px;

  &:hover {
    background: inherit;
  }
}
