$colors-map: (
  "red": $red,
  "green": $publix-primary,
  "blue": $wm-blue,
  "grey": $grey--dark
);

.cs-panel-primary {
  @include transition(box-shadow .2s ease-in-out, transform .2s ease-in-out);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border: 2px solid $black;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    $distance: 5px;
    @include transform(translate(-$distance, -$distance));
    box-shadow: $distance $distance $black;
    background-color: inherit;
    color: inherit;
  }
}

.cs-panel-primary__header {
  position: relative;
  height: 300px;
  padding: 24px 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @each $color-name, $color-value in $colors-map {
    &.#{$color-name} {
      background: rgba($color-value, 0.15);

      .btn-primary--solid {
        background: $color-value;
        fill: $color-value;
        border-color: $color-value;

        &:before, &:after {
          border-color: $color-value;
        }
      }

      .cs-panel-primary__title {
        color: $color-value;
      }
    }
  }// end each
}

.cs-panel-primary__content {
  padding: 24px;
  display: grid;
  grid-row-gap: 16px;
}

.cs-panel-primary__cta {
  font-weight: 500;
}

.cs-panel-primary__logo {
  width: 180px;
}

.cs-panel-primary__title {
  color: inherit;
  display: block;
  color: $black;
  line-height: 1.4;
  font-weight: 500;
}

.cs-panel-primary__text {
  margin: 0;
}

.cs-panel-primary__image {
  z-index: 1;
  max-height: 75%;
}
