.work__intro-header {
  text-align: center;
  text-transform: uppercase;
  margin: 200px 0 100px 0;
}

.work__block {
  margin: 100px 0;

  @include breakpointSmallerThan($breakpoint--medium) {
    margin: 40px 0;
  }
}

.work__header {
  margin-bottom: 40px;

  @include breakpointSmallerThan($breakpoint--medium) {
    margin: 20px 0;
  }
}

.work-overview__detail {
  @include breakpointSmallerThan($breakpoint--medium) {
    margin: 20px 0;
  }
}

.work__highlight {
  @include breakpointSmallerThan($breakpoint--medium) {
    margin-bottom: 40px;
  }
}

.feature-block {
  @extend .work__block;
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap;
}

.feature-block__feature {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
}

.feature-block__feature > div {
    flex-grow: 1; /* Make the div inside the column grow to take up available space */
}

.work__column {
  @include breakpointSmallerThan($breakpoint--medium) {
    margin-bottom: 40px;
  }
}

.work__prototype {
  width: 100%;
  height: 800px;

  @include breakpointSmallerThan($breakpoint--medium) {
    height: 600px;
  }
}

.work__caption {
  opacity: 0.6;
  font-weight: 500;
}

.work__callout {
  line-height: 1.5;
  font-weight: 500;
}

.work__conclusion {
  text-align: center;
}

.work__image {
  @include borderRadius($base-border__radius);
  border: 2px solid $black;
}

.work-header {
  margin-bottom: 20px;

  &.center {
    text-align: center;
  }

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 500;
    line-height: 1.5;
  }
}

.work__link {
  margin-top: 16px;
}

.work-header__title {
}

.work-header h5 {
  margin-bottom: 10px;
}

.work__highlight {
  background: lighten($yellow, 40%);
}

.work-header__subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work__aside {
  @include borderRadius($base-border__radius);
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
}

.work__divider {
  padding: 40px 0;
  box-sizing: border-box;
  background: $grey--light;
}

.work__quote {
  font-style: italic;
}

.work__results {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 24px;
  }

  span {
    @include font-size(34px);
    display: block;

  }
}
