.btn {
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.button-group {
  display: flex;
  gap: 24px;

  @include breakpointSmallerThan($breakpoint--medium) {
    flex-direction: column;
    text-align: center;
  }
}
