.primary-ph {
  @include borderRadius($base-border__radius);
  background-size: 100% auto;
  background-position: top center;
  background-color: $black;
  color: $white;
  position: relative;
  padding: 100px 0;
  margin-top: 60px;
  text-align: left;

  @include breakpointSmallerThan($breakpoint--medium) {
    padding: 100px 0;
    text-align: center;

    &:before {
      @include overlay($black, 0.6);
    }
  }
}

.primary-ph__content {
  position: relative;
  z-index: 50;
}

.primary-ph__preview {
  @include breakpointSmallerThan($breakpoint--large) {
    display: none;
  }
}

.primary-ph__title {
  @include font-size(70px);
  text-transform: uppercase;
}
