@import "Components/Core/variables.scss";
@import "Components/Core/mixins.scss";
@import "Components/Core/colors.scss";
@import "Components/Core/animations.scss";

.form-success__title {
  color: $green;
  font-weight: 700;
  margin-bottom: 0;
}

.form-success {
  color: $green;
}
