$colors-map: (
  "red": $red,
  "green": $publix-primary,
  "blue": $wm-blue,
  "grey": $grey--light
);

.cs-panel-secondary {
  width: 100%;
  height: 780px;
  margin-bottom: 4%;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  @each $color-name, $color-value in $colors-map {
    &.#{$color-name} {
      background: rgba($color-value * 3, 0.10);
      fill: $color-value;

      .btn-primary--solid {
        background: $color-value;
        fill: $color-value;
        border-color: $color-value;

        &:before, &:after {
          border-color: $color-value;
        }
      }

      .cs-panel-secondary__title {
        color: $color-value;
      }
    } // end each
  }

  //DESKTOP
  @include breakpointLargerThan($breakpoint--medium) {
    width: 100%;
    height: 720px;
  }
}

.cs-panel-secondary__header {
  position: relative;
  z-index: 10;
}

.cs-panel-secondary__logo {
  width: 180px;
  margin: 0 auto 20px auto;
}

.cs-panel-secondary__title {
  @extend p;
  color: inherit;
  display: block;
  margin-bottom: 20px;
  color: $black;
  line-height: 1.4;
  font-weight: 700;

  @include breakpointLargerThan($breakpoint--medium) {
    @include font-size(32px);
    margin-bottom: 16px;
  }
}

.cs-panel-secondary__text {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cs-panel-secondary__image {
  @include centerVertical();

  position: absolute;
  bottom: 0;
  z-index: 1;
  max-width: 600px;

  @include breakpointSmallerThan($breakpoint--medium) {
    max-width: 100%;
  }
}
