.link-with-icon {
  display: inline-flex;
  color: $blue;
  fill: $blue;
  font-weight: bold;

  .link-with-icon__icon {
    height: 24px;
    margin-right: 8px;
  }

  &:hover {
    fill: $white;
    background: $blue;
    color: $white;
  }

  &:active, &:focus {
    color: $purple;
    fill: $purple;
  }
}
