.logo-drew {
  @include transition(all 250ms ease-in-out);

  overflow: visible;

  .cls-5 {
    @include transition(all 250ms ease-in-out);
  }

  .cls-1{fill:#ddd;}
  .cls-2{fill:#e0e0e0;}
  .cls-3{fill:#bababa;}
  .cls-4{fill:#d17333;}
  .cls-5{fill:$black;}

  &:hover {
    @include transform(translate3d(0px, 0px, 0px) rotate(-8deg));
    .cls-5 {
      @include transform(translate3d(0px, 0px, 0px) rotate(-8deg));
    }
  }
}
