.question-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    $decorSize: 24px;

    position: relative;
    padding-left: $decorSize + 8px;
    margin-bottom: 8px;

    &:before {
      $centerAdjustment: 2px;
      $extrusionDepth: 3; // This controls the depth of the 3D extrusion

      @include borderRadius(999px);
      content: "?";
      color: $black;
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: $decorSize;
      height: $decorSize;
      background-color: $white;
      border: 2px solid $black;
      text-align: center;
      padding-left: $centerAdjustment;
      line-height: $decorSize - $centerAdjustment;
      font-size: $decorSize * .75;
      font-weight: 700;

      // If you want to use a loop for the box-shadow:
      $shadows: ();
      @for $i from 1 through $extrusionDepth {
        $shadows: append($shadows, #{$i}px #{$i}px 0 $black, comma);
      }
      box-shadow: $shadows;
    }
  }
}
