$color-map: (
  yellow: $highlighter-yellow,
  blue: $blue,
  purple: $purple,
  black: $black,
  gradient: $gradient-water--2,
  pink: $pink--soft
);

.color-block {
  padding: 24px;
  border: 2px solid $black;

  &.hero {
    padding: 100px 0;
  }

  @each $color-name, $color-value in $color-map {
    &.#{$color-name} {
      @if index(gradient, $color-name) {
        background-color: $black;
        background-image: $color-value;
      } @else {
        background-color: $color-value;
      }

      // Change color to white if darker block
      @if index(blue purple black, $color-name) {
        color: white;
      }

      @if index(yellow, $color-name) {
        .color-block__heading:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='50' viewBox='0 0 200 50' preserveAspectRatio='none'%3E%3Cpath d='M0 25 C 50 0, 150 50, 200 25' fill='none' stroke='%23#{str-slice(inspect($purple), 2, 7)}' stroke-width='13'%3E%3C/path%3E%3C/svg%3E");
        }
      }

    } //End Loop
  }
}

.color-block__heading--decor {
  color: $white;
  text-shadow: 3px 3px 0px $black;
}

.color-block__heading {
  &.swiggly {
    $swigglyDistance: 16px;

    position: relative;
    margin-bottom: $swigglyDistance + 24px;
    width: fit-content;

    //Swiggly Line
    &:after {
      @include centerHorizontal();
      content: "";
      position: absolute;
      bottom: -$swigglyDistance;
      width: 100%;
      height: 15px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='50' viewBox='0 0 200 50' preserveAspectRatio='none'%3E%3Cpath d='M0 25 C 50 0, 150 50, 200 25' fill='none' stroke='%23#{str-slice(inspect($gold), 2, 7)}' stroke-width='13'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: repeat-x;
      background-size: 25px 15px; // Specified both width and height for clarity
    }


    &.text--center {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
