.publix {
  .work__divider, .secondary-ph__image {
    $color: $publix-secondary;

    background-color: $grey--light;
    background-image: url(#{$img-path}publix-pattern_savings.png);
    background-repeat: repeat;
    color: $color;
    padding: 24px;

    p {
      color: $color;
    }
  }

  .overview-panel {
    $borderColor: $publix-primary;

    background: $publix-tertiary;
    border-color: $borderColor;
    color: $publix-secondary;

    p, {
      color: $publix-secondary;
    }

    .overview-panel__title {
      color: $publix-primary;
    }

    &:before, &:after {
      border-color: $borderColor;
    }
  }

  .work__callout {
    &::after {
      display: block;
      content: "";
      width: 100px;
      height: 4px;
      background-color: $yellow;
      position: absolute;
      bottom: -2px;
      left: 16px;
    }
  }

  .feature-highlight__title {
    color: $publix-primary;
  }

  .feature-highlight__text {
    color: $publix-secondary;
  }

  .work__results {
    color: $publix-secondary;
    margin-bottom: 24px;
  }

}
