.feature-highlight {
  @include borderRadius(12px);
  text-align: center;
  padding: 40px 24px;
  background: $grey--light;
}

.feature-highlight__icon {
  width: 80px;
}

.feature-highlight__title {
  @include font-size(34px);
  letter-spacing: -2px;
  padding: 16px 0;
}

.feature-highlight__text {
  opacity: 0.7;
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 300px;

  @include breakpointSmallerThan($breakpoint--medium) {
    width: 100%;
  }
}

.feature-highlight__image {
  width: 80%;
}
