.quote {
  padding: 100px 0;
  background: $black;
  color: $white;
  margin: 0;
}

.quote__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.quote__image {
  @include borderRadius(99px);
  @include boxShadow(0 0 16px rgba(0,0,0,0.1));
  width: 100px;
  height: 100px;
  margin-right: 24px;
}

.quote__text {
  @include font-size(24px);
  font-family: $base-font__family--secondary;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.quote__name {
  @include font-size(12px);
  font-style: italic;
}
