$size: 50px;
$thickness: $size *.06;
$percentage: (0.35 * $size) / $size * 100%;
$speed: 10s;
$bubbleSize: $size * .15;

.loading__graphic {
  @include centerAll();
  position: absolute;
  z-index: 9999;
  width: 70px;
  height: 60px;
}

.loading {
  &:before {
    @include overlay($white, 1);
    @include centerAll();
    width: 100vw;
    height: 100vh;
    z-index: 9998;
  }
}

.cup {
  @include borderRadius($size * .2 $size * .2 $size * .6 $size * .6);
  height: $size * 1.10;
  width: $size;
  border: $thickness solid #030303;
  position: absolute;
  background: url(#{$img-path}coffee-img-1.svg), url(#{$img-path}coffee-img-2.svg);
  background-position: 0 $percentage, 0 $percentage;
  background-repeat: repeat-x;
  animation: coffee $speed infinite linear;
}

@keyframes coffee {
  100% {
    background-position: -100% $percentage, -100% $percentage;
  }
}

.cup:before {
  $width: $size * .3;
  $height: $size * .4;
  //handle
  content: "";
  position: absolute;
  height: $height;
  width: $width;
  border: $thickness solid #030303;
  border-left: none;
  right: -$width - $thickness;
  top: $size * .15;
  border-radius: 0 30px 80px 0;
}

.cup:after {
  //floor
  @include borderRadius(99px);
  position: absolute;
  content: "";
  height: $thickness;
  width: $size;
  background-color: #030303;
  left: 0;
  bottom: -$thickness;
}

.bubble {
  height: $bubbleSize;
  width: $bubbleSize;
  background-color: #fbbe08;
  border-radius: 50%;
  position: absolute;
  animation: bubbles forwards infinite;
  opacity: 1;
}
@keyframes bubbles {
  100% {
    transform: translateY(-$size * .75);
    opacity: 0;
  }
}

.bubble-1 {
  left: $size * .15;
  bottom: $size * .1;
  animation-delay: 0.5s;
  animation-duration: 3s;
}

.bubble-2 {
  left: $size * .4;
  bottom: $size * .35;
  animation-delay: 1.2s;
  animation-duration: 4s;
}

.bubble-3 {
  left: $size * .7;
  bottom: $size * .3;
  animation-duration: 4s;
}
