.row {
  padding: 80px 0;
}

.coaching-hero {
  .question-list {
    font-size: 20px;
    margin: 24px 0;
  }
}

.coaching-hero__cta {
  margin-top: 60px;
  justify-content: center;
}

.coaching {
  .pricing-options > div {
    display: flex;
    grid-gap: 24px;

    @include breakpointSmallerThan($breakpoint--large) {
      flex-direction: column;
    }
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

.pricing__content {
  height: 100%;
}

.pricing__cta {
  margin-top: 40px;
}
