.site-footer {
  padding: 90px 0;
  text-align: center;

  span {
    display: block;
    margin: 10px 0;
  }
}

.site-footer__copyright {
  @include font-size(15px);
  margin-top: 30px;
  display: block;
  opacity: 0.3;
}
