.btn-primary {
  @include font-size(20px);

  $distance: 6px;
  $border: 2px solid $black;
  @include transition(all .1s cubic-bezier(0.3, 0, 0.45, 1));

  font-weight: 700;

  // color and background determined by button type

  &:before, &:after {
    @include transition(.1s cubic-bezier(0.3, 0, 0.45, 1));
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    width: 100%;
    border-bottom: $border;
    border-left: $border;
    bottom: -$distance;
    left: $distance;
    height: $distance;
    box-sizing: border-box;
  }

  &:after {
    height: 100%;
    border-right: $border;
    border-top: $border;
    top: $distance;
    right: -$distance;
    width: $distance;
    box-sizing: border-box;
  }

  &:hover {
    //color and background handled by  button

    &:before {
      bottom: 0px;
      left: 0px;
      opacity: 0;
    }
    &:after {
      top: 0;
      right: 0;
      opacity: 0;
    }
  }

  .cost {
    &.purple {
      color: $purple--soft;
    }
    &.green {
      color: $green--soft;
    }
    &.yellow {
      color: $highlighter-yellow;
    }
  }
}

.btn-primary--solid {
  @extend .btn-primary;
  @extend .btn;
  background: $black;
  color: $white;
  border: 2px solid $black; //add to match secondary spacing

  &:hover {
    background: $black;
    border-color: $black;
    color: $white;
  }

  &:focus {
    color: $white;
  }
}

.btn-primary--ghost {
  @extend .btn-primary;
  @extend .btn;
  background: $white;
  color: $black;
  border: 2px solid $black;

  .btn-primary__trailing-icon {
    color: $black;
  }

  &:hover {
    color: $pink;
    border-color: $pink;
    fill: $pink;
  }
}

.btn-primary__trailing-icon {
  height: 13px;
  margin-left: 8px;
}
