$nav-bars__height: 2px;
$nav-bars__width: 25px;
$nav-bars__border-radius: 0px;

.site-nav {
  position: absolute;
  overflow-y: scroll;
  z-index: 500;
  padding: 20px;
  box-sizing: border-box;
  background: $white;
  display: flex;

  @include breakpointLargerThan($breakpoint--medium) {
    background: transparent;
    position: relative;
    padding: 0;
    overflow-y: visible;
    align-items: center;
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    margin-top: 10px;
    flex-direction: column;
  }
}

.site-nav__button {
  &.btn-primary--ghost {
    margin-right: 15px;
    font-weight: 400;
    font-size: 16px;

    @include breakpointSmallerThan($breakpoint--medium) {
      align-self: baseline;
      margin: 16px 0 24px 0;
    }

    &:hover {
      background: inherit;
    }
  }
}

.site-nav__icon-link {
  $size: 48px;
  @include transition(all $base-animation--speed / 2 ease-in-out);
  width: $size;
  height: $size;
  display: block;
  padding: 0 8px;
  fill: $black;

  &:hover {
    background: inherit;
    fill: $pink;
    @include rotate(3);
  }
}

.site-nav__button-group {
  display: flex;

  @include breakpointSmallerThan($breakpoint--medium) {
    flex-direction: row;
    text-align: left;

    a {
      margin-bottom: 20px;
    }
  }
}

//////

.site-nav__header {
  display: block;
  padding: 0 0 20px 0;
  border-bottom: 1px solid $grey--light;
  margin-bottom: 30px;
  text-align: center;

  @include breakpointLargerThan($breakpoint--medium) {
    display: none;
  }
}

.site-nav__logo {
  width: 44px;
  display: block;
}

.nav-slide-right {
    @include breakpointSmallerThan($breakpoint--medium) {
    @include transition(left $base-animation__speed);

    width: 90vw;
    height: 100vh;
    top: 0;
    left: -101%;
  }
}

.nav-slide-left {
  @include breakpointSmallerThan($breakpoint--medium) {
    @include transition(right ease-in-out $base-animation__speed);

    width: 100vw;
    height: 100vh;
    top: 0;
    right: -101%;
  }
}

.menu {
  background: none;

  @include breakpointSmallerThan($breakpoint--medium) {
    &:after {
      opacity: 0;
    }
  }

  @include breakpointLargerThan($breakpoint--medium) {
    display: none;
  }
}

.hamburger__bars {
  @include borderRadius($nav-bars__border-radius);

  cursor: pointer;
  height: $nav-bars__height;
  width: $nav-bars__width;
  background: $black;
  position: absolute;
  display: block;
  content: '';
}

.menu-hamburger__wrapper {
  @include borderRadius(99px);
  cursor: pointer;
  z-index: 9999;
  opacity: 1;
  position: relative;
  height: 44px;
  width: 44px;
}

.menu-hamburger {
  span {
    @include centerAll();
    @extend .hamburger__bars;
    height: $nav-bars__height;

    &:before, &:after {
      @include borderRadius($nav-bars__border-radius);
      @include transition(250ms all ease-in-out);
    }

    &:before {
      @extend .hamburger__bars;

      top: -8px;
    }

    &:after {
      @extend .hamburger__bars;

      bottom: -8px;
    }
  }
}

.menu:hover {
  @include breakpointLargerThan($breakpoint--small) {
    .hamburger {
      opacity: 1;
    }
  }
}

.menu-is-active {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;

  .nav__item {
    opacity: 1;
    margin-left: 0;
    transform: translate3d(0, 0, 0);
  }

  .nav-slide-right {
    left: 0;
  }
  .nav-slide-left {
    right: 0;
  }

  .menu-hamburger {
    span {
      background-color: transparent;

      &:before {
        @include rotate(225);
        top: 0;
        height: $nav-bars__height;
      }

      &:after {
        @include rotate(315);
        top: 0;
        height: $nav-bars__height;
      }
    }
  }
}

.site-nav__utility {
  margin-right: 24px;
  display: flex;
  flex-direction: row;

  @include breakpointSmallerThan($breakpoint--medium) {
    flex-direction: column;
  }
}

.site-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 8px;
  margin-right: 16px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    color: $black;
    background-color: $yellow;
  }
}

.site-nav__icon {
  width: 24px;
  margin-right: 8px;
}
