@import "Components/Core/variables.scss";
@import "Components/Core/mixins.scss";
@import "Components/Core/colors.scss";
@import "Components/Core/animations.scss";
@import "Components/Buttons/Primary/styles.scss";

form {
  display: flex;
  flex-direction: column;
}
