.accordion {
  $LeftPadding: 80px;

  display: flex;
  flex-direction: column;
  width: 100%;

  .accordion__title {
    margin-bottom: 24px;
  }

  .accordion__heading {
    font-weight: 700;
    padding-left: $LeftPadding;
    outline: none;
    position: relative;

    &:before {
      @include centerHorizontal();
      $size: 18px;
      content: "+";
      position: absolute;
      left: 0;
      display: block;
      width: $size;
      height: $size;
      font-size: $size;
      font-weight: 400;
      line-height: 1;
    }
  }

  .accordion__item {
    $border: 1px solid $black;

    padding: 24px 0;
    border-top: $border;
    cursor: pointer;

    &:last-child {
      border-bottom: $border;
    }
  }

  .accordion__panel {
    padding-left: $LeftPadding;
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    padding: 0 16px;

    .accordion__panel, .accordion__heading {
      padding-left: 24px;
    }
  }
}
